---
# Copyright 2025 Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: include default variables
  ansible.builtin.include_vars: ../vars/main.yml

- name: include release specific variables
  ansible.builtin.include_vars: "{{ loop_var }}"
  loop: "{{ query('first_found', params) }}"
  loop_control:
    loop_var: loop_var
  vars:
    params:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - ../vars
      skip: true

- name: include release specific tasks
  ansible.builtin.include_tasks: "{{ loop_var }}"
  loop: "{{ query('first_found', params) }}"
  loop_control:
    loop_var: loop_var
  vars:
    params:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - .
      skip: true

- name: groupadd
  ansible.builtin.group:
    name: "{{ confluence_group }}"
    system: true
    state: present

- name: useradd
  ansible.builtin.user:
    name: "{{ confluence_owner }}"
    group: "{{ confluence_group }}"
    home: "{{ confluence_home }}"
    shell: /bin/bash
    system: true
    create_home: false
    state: present

- name: prepare directories
  ansible.builtin.file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0755') }}"
    state: "{{ item.state | default('directory') }}"
  loop:
    - dest: /etc/systemd/system
    - dest: "{{ confluence_catalina }}"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
      mode: "0700"
    - dest: "{{ confluence_catalina }}/bin"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
    - dest: "{{ confluence_catalina }}/conf"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
    - dest: "{{ confluence_home }}"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
      mode: "0750"

- name: copy templates
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    src: "{{ item.src | default('./templates' + item.dest + '.j2') }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop:
    - dest: /etc/systemd/system/confluence.service
    - dest: "{{ confluence_catalina }}/bin/setenv.sh"
      src: ./templates/opt/atlassian/confluence/bin/setenv.sh.j2
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
      mode: "0755"
    - dest: "{{ confluence_catalina }}/conf/server.xml"
      src: ./templates/opt/atlassian/confluence/conf/server.xml.j2
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
  notify:
    - confluence | systemctl daemon-reload
    - confluence | systemctl restart confluence.service

- name: prepare files
  ansible.builtin.file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
    state: "{{ item.state | default('file') }}"
  loop:
    - dest: /etc/systemd/system/confluence.service
    - dest: "{{ confluence_catalina }}/bin/setenv.sh"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
      mode: "0755"
    - dest: "{{ confluence_catalina }}/conf/server.xml"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
  notify:
    - confluence | systemctl daemon-reload
    - confluence | systemctl restart confluence.service

- name: patch /opt/atlassian/confluence/conf/web.xml
  vars:
    ansible_python_interpreter: python3
  community.general.xml:
    path: "{{ confluence_catalina }}/conf/web.xml"
    xpath: "{{ item.xpath }}"
    namespaces:
      ns: https://jakarta.ee/xml/ns/jakartaee
    value: "{{ item.value }}"
    pretty_print: true
    state: present
  loop:
    - xpath: /ns:web-app/ns:session-config/ns:session-timeout
      value: "{{ confluence_session_timeout | int }}"
    - xpath: /ns:web-app/ns:session-config/ns:tracking-mode
      value: COOKIE
    - xpath: /ns:web-app/ns:session-config/ns:cookie-config/ns:max-age
      value: "{{ (confluence_autologin_cookie_age | int) * 60 }}"
  notify:
    - confluence | systemctl restart confluence.service

- name: patch /opt/atlassian/confluence/confluence/WEB-INF/web.xml
  vars:
    ansible_python_interpreter: python3
  community.general.xml:
    path: "{{ confluence_catalina }}/confluence/WEB-INF/web.xml"
    xpath: "{{ item.xpath }}"
    namespaces:
      ns: http://xmlns.jcp.org/xml/ns/javaee
    value: "{{ item.value }}"
    pretty_print: true
    state: present
  loop:
    - xpath: /ns:web-app/ns:session-config/ns:session-timeout
      value: "{{ confluence_session_timeout | int }}"
    - xpath: /ns:web-app/ns:session-config/ns:tracking-mode
      value: COOKIE
    - xpath: /ns:web-app/ns:session-config/ns:cookie-config/ns:max-age
      value: "{{ (confluence_autologin_cookie_age | int) * 60 }}"
  notify:
    - confluence | systemctl restart confluence.service

- name: patch /opt/atlassian/confluence/confluence/WEB-INF/classes/seraph-config.xml
  vars:
    ansible_python_interpreter: python3
  community.general.xml:
    path: "{{ confluence_catalina }}/confluence/WEB-INF/classes/seraph-config.xml"
    xpath: /security-config/parameters/init-param[param-name[text()='autologin.cookie.age']]
    pretty_print: true
    state: present
  notify:
    - confluence | systemctl restart confluence.service

- name: patch /opt/atlassian/confluence/confluence/WEB-INF/classes/seraph-config.xml
  vars:
    ansible_python_interpreter: python3
  community.general.xml:
    path: "{{ confluence_catalina }}/confluence/WEB-INF/classes/seraph-config.xml"
    xpath: /security-config/parameters/init-param[param-name[text()='autologin.cookie.age']]
    set_children:
      - param-name: autologin.cookie.age
      - param-value: "{{ (confluence_autologin_cookie_age | int) * 60 }}"
    pretty_print: true
    state: present
  notify:
    - confluence | systemctl restart confluence.service

- name: flush handlers
  ansible.builtin.meta: flush_handlers

- name: systemctl start confluence.service
  ansible.builtin.service:
    name: confluence.service
    state: started
    enabled: true
  changed_when: false
  failed_when: false
