---

# Copyright 2022 Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: include default variables
  ansible.builtin.include_vars: "../vars/main.yml"

- name: include release specific variables
  ansible.builtin.include_vars: "{{ _loop_var }}"
  loop: "{{ query('first_found', _params) }}"
  loop_control:
    loop_var: _loop_var
  vars:
    _params:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - "../vars"
      skip: true

- name: include release specific tasks
  ansible.builtin.include_tasks: "{{ _loop_var }}"
  loop: "{{ query('first_found', _params) }}"
  loop_control:
    loop_var: _loop_var
  vars:
    _params:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - "."
      skip: true

- name: groupadd
  ansible.builtin.group:
    name: "{{ confluence_group }}"
    system: true
    state: "present"

- name: useradd
  ansible.builtin.user:
    name: "{{ confluence_owner }}"
    group: "{{ confluence_group }}"
    home: "{{ confluence_home }}"
    shell: "/bin/bash"
    system: true
    create_home: false
    state: "present"

- name: copy templates
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    src: "{{ item.src | default('./templates' + item.dest + '.j2') }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop:
    - dest: "{{ confluence_catalina }}/bin/setenv.sh"
      src: "./templates/opt/atlassian/confluence/bin/setenv.sh.j2"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
      mode: "0755"
    - dest: "{{ confluence_catalina }}/conf/server.xml"
      src: "./templates/opt/atlassian/confluence/conf/server.xml.j2"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
  notify:
    - confluence | systemctl restart confluence.service

- name: prepare files
  ansible.builtin.file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
    state: "{{ item.state | default('file') }}"
  loop:
    - dest: "{{ confluence_catalina }}/bin/setenv.sh"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
      mode: "0755"
    - dest: "{{ confluence_catalina }}/conf/server.xml"
      owner: "{{ confluence_owner }}"
      group: "{{ confluence_group }}"
  notify:
    - confluence | systemctl restart confluence.service

- name: patch /opt/atlassian/confluence/confluence/WEB-INF/web.xml
  vars:
    ansible_python_interpreter: "python3"
  community.general.xml:
    path: "{{ confluence_catalina }}/confluence/WEB-INF/web.xml"
    xpath: "/ns:web-app/ns:session-config/ns:session-timeout"
    namespaces:
      ns: "http://xmlns.jcp.org/xml/ns/javaee"
    value: "{{ confluence_autologin_cookie_age | int }}"
    state: "present"
  notify:
    - confluence | systemctl restart confluence.service

- name: flush handlers
  ansible.builtin.meta: flush_handlers

- name: systemctl start confluence.service
  ansible.builtin.service:
    name: "confluence.service"
    state: "started"
    enabled: true
  changed_when: false
  failed_when: false
