#!/bin/bash

# {{ ansible_managed }}

### BEGIN INIT INFO
# Provides:          confluence
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Initscript for Atlassian Confluence
# Description:  Automatically start Atlassian Confluence when the system starts up.
#               Provide commands for manually starting and stopping Confluence.
### END INIT INFO

CONFLUENCE_OWNER={{ confluence_owner }}
CONFLUENCE_GROUP={{ confluence_group }}
CONFLUENCE_HOME={{ confluence_home }}
CONFLUENCE_CATALINA={{ confluence_catalina }}
CONFLUENCE_CATALINA_PID={{ confluence_catalina }}/work/catalina.pid

start() {
    echo "Starting Confluence: "

    mkdir -p ${CONFLUENCE_HOME}
    chmod -f 755 ${CONFLUENCE_HOME}
    chown -Rf ${CONFLUENCE_OWNER}:${CONFLUENCE_GROUP} ${CONFLUENCE_HOME}

    if [ "x${USER}" != "x${CONFLUENCE_OWNER}" ]; then
        su -s /bin/bash ${CONFLUENCE_OWNER} -c "${CONFLUENCE_CATALINA}/bin/start-confluence.sh $@"
    else
        ${CONFLUENCE_CATALINA}/bin/start-confluence.sh $@
    fi

    echo "done."
}

stop() {
    echo "Shutting down Confluence: "

    if [ "x${USER}" != "x${CONFLUENCE_OWNER}" ]; then
        su -s /bin/bash ${CONFLUENCE_OWNER} -c "${CONFLUENCE_CATALINA}/bin/stop-confluence.sh $@"
    else
        ${CONFLUENCE_CATALINA}/bin/stop-confluence.sh $@
    fi

    echo "done."
}

status() {
    if [ -f ${CONFLUENCE_CATALINA_PID} ]; then
        PID=$(<${CONFLUENCE_CATALINA_PID})
        if $(kill -0 "${PID:-}" 2> /dev/null); then
            echo "Confluence is running"
            exit 0
        elif ps "${PID:-}" > /dev/null 2>&1; then
            echo "Confluence is running"
            exit 0
        else
            echo "Confluence is not running (pidfile exists)"
            exit 1
        fi
    fi

    echo "Confluence is not running"

    exit 3
}

case "$1" in
    start)
        start ${@:2}
        ;;
    stop)
        stop ${@:2}
        ;;
    restart)
        stop ${@:2}
        start ${@:2}
        ;;
    status)
        status
        ;;
    *)
        echo "Usage: $0 {start|stop|restart|status}"
        exit 1
        ;;
esac
