#!/bin/bash

# {{ ansible_managed }}

### BEGIN INIT INFO
# Provides:          confluence
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Initscript for Atlassian Confluence
# Description:  Automatically start Atlassian Confluence when the system starts up.
#               Provide commands for manually starting and stopping Confluence.
### END INIT INFO

CONFLUENCE_OWNER=${CONFLUENCE_OWNER:-daemon}
CONFLUENCE_GROUP=${CONFLUENCE_GROUP:-daemon}
CONFLUENCE_HOME=${CONFLUENCE_HOME:-/var/atlassian/application-data/confluence}
CONFLUENCE_CATALINA=${CONFLUENCE_CATALINA:-/opt/atlassian/confluence}
CONFLUENCE_CATALINA_PID=${CONFLUENCE_CATALINA}/work/catalina.pid

start() {
    echo "Starting Confluence: "

    if [ "x${USER}" != "x${CONFLUENCE_OWNER}" ]; then
        su -s /bin/bash ${CONFLUENCE_OWNER} -c "${CONFLUENCE_CATALINA}/bin/start-confluence.sh $@"
    else
        ${CONFLUENCE_CATALINA}/bin/start-confluence.sh $@
    fi

    echo "done."
}

stop() {
    echo "Shutting down Confluence: "

    if [ "x${USER}" != "x${CONFLUENCE_OWNER}" ]; then
        su -s /bin/bash ${CONFLUENCE_OWNER} -c "${CONFLUENCE_CATALINA}/bin/stop-confluence.sh $@"
    else
        ${CONFLUENCE_CATALINA}/bin/stop-confluence.sh $@
    fi

    echo "done."
}

status() {
    if [ -f ${CONFLUENCE_CATALINA_PID} ]; then
        PID=$(<${CONFLUENCE_CATALINA_PID})
        if $(kill -0 "${PID:-}" 2> /dev/null); then
            echo "Confluence is running"
            exit 0
        elif ps "${PID:-}" > /dev/null 2>&1; then
            echo "Confluence is running"
            exit 0
        else
            echo "Confluence is not running (pidfile exists)"
            exit 1
        fi
    fi

    echo "Confluence is not running"

    exit 3
}

case "$1" in
    start)
        shift
        start $@
        ;;
    stop)
        shift
        stop $@
        ;;
    restart)
        shift
        stop $@
        start $@
        ;;
    status)
        status
        ;;
    *)
        echo "Usage: $0 {start|stop|restart|status}"
        exit 1
        ;;
esac
