# {{ ansible_managed }}

[Unit]
Description=Atlassian Confluence
After=syslog.target network.target

[Service]
ExecStart=/opt/atlassian/confluence/bin/start-confluence.sh
ExecStop=/opt/atlassian/confluence/bin/stop-confluence.sh
PIDFile=/opt/atlassian/confluence/work/catalina.pid
Type=forking
User=confluence
Group=confluence

[Install]
WantedBy=multi-user.target
