# {{ ansible_managed }}

[Unit]
Description=Atlassian Confluence
After=syslog.target

[Service]
User=daemon
Group=daemon
ExecStart=/opt/atlassian/confluence/bin/start-confluence.sh
ExecStop=/opt/atlassian/confluence/bin/stop-confluence.sh
PIDFile=/opt/atlassian/confluence/work/catalina.pid

[Install]
WantedBy=multi-user.target
