application.name                        {{ confluence_crowdsso_appname }}
application.password                    {{ confluence_crowdsso_apppass }}
application.login.url                   {{ confluence_crowdsso_apploginurl }}

crowd.server.url                        {{ confluence_crowdsso_crowdserverurl }}
crowd.base.url                          {{ confluence_crowdsso_crowdbaseurl }}

session.isauthenticated                 session.isauthenticated
session.tokenkey                        session.tokenkey
session.validationinterval              2
session.lastvalidation                  session.lastvalidation
